@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627908059431') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leimupinleifenleileibie:before {
  content: "\e7f9";
}

.icon-gouwuche:before {
  content: "\f030e";
}

.icon-home_icon:before {
  content: "\e65a";
}

.icon-wode:before {
  content: "\e6f3";
}

